@import './styles/components/Categorize.scss';
@import './styles/components/Header.scss';
@import './styles/components/ProductCard.scss';
@import './styles/pages/Page-style.scss';
@import './styles/pages/ProductPage.scss';

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
html{
    font-family: inherit;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 14px;
}