@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
html {
  font-family: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 60px;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background-color: black !important;
}
.header__nav {
  width: 80%;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 769px) {
  .header__nav {
    width: 90%;
  }
}

.nav__brand {
  color: white;
  display: inline-block;
  font-size: 1.7rem;
  line-height: inherit;
  margin-right: 1rem;
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
  white-space: nowrap;
}
.nav__opt {
  margin: 0.7rem;
  max-width: 10rem;
  width: 100%;
  height: 40px;
  background-color: green;
  display: flex;
  border-radius: 1rem;
  justify-content: space-around;
  align-items: center;
}

.opt__home {
  margin-top: 0.3rem;
}
.opt__cart {
  margin-top: 0.3rem;
}

.shopping {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.7rem;
}
.shopping__category {
  display: flex;
  margin: 0rem 0 1rem;
  margin-top: 5rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  flex-direction: row;
  text-decoration: none;
  width: 80%;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .shopping__category {
    flex-wrap: wrap;
  }
}
.shopping__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  align-items: center;
  justify-content: center;
}
.shopping__items--cart {
  padding-top: 5rem;
}
.shopping__empty {
  display: flex;
  flex-direction: row;
  max-width: 40rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 2rem;
  height: 10rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: rgb(37, 117, 37);
  background-color: rgba(0, 128, 0, 0.4);
}
@media screen and (max-width: 769px) {
  .shopping__empty {
    font-size: 1rem;
  }
}

.category__name {
  display: flex;
  flex: 1 1 30%;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 0.7rem;
  margin: 0.5rem;
  border: 2px solid black;
}
.category__name--selected {
  background-color: black;
  color: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgb(92, 92, 92);
}
@media screen and (max-width: 769px) {
  .category__name {
    font-size: 10px;
    letter-spacing: 0.2px;
  }
}

.item {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  padding-top: 100px;
  justify-content: flex-start;
  align-items: center;
}

.card {
  display: flex;
  width: 100%;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  max-width: 70rem;
  flex-direction: row;
  border: 2px solid black;
}
.card__img {
  display: flex;
  min-width: 12rem;
  flex-direction: row;
  max-width: 12rem;
  height: 10rem;
  margin-right: 1rem;
  padding: 1rem;
}
.card__img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .card__img {
    margin-bottom: 1rem;
  }
}
.card__details {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
  max-width: 60rem;
  width: 100%;
}
@media screen and (max-width: 769px) {
  .card {
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.details__title {
  display: flex;
  padding: 0.5rem;
  font-family: Raleway;
  font-weight: 800;
  letter-spacing: 1px;
}
.details__description {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-family: Raleway;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
}
.details__price {
  display: flex;
  justify-content: flex-start;
  font-family: Raleway;
  margin-left: 0.5rem;
  font-weight: bolder;
  width: 20%;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.buttons__btn {
  display: flex;
  padding: 0.5rem;
  max-width: 10rem;
  width: 100%;
  font-size: 14px;
  margin: 1rem;
  color: black;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  justify-content: center;
  border-radius: 1rem;
}
.buttons__btn--add {
  background-color: green;
}
.buttons__btn--remove {
  background-color: rgb(221, 52, 52);
}
.buttons__btn--more {
  background-color: skyblue;
}

.rating {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  justify-content: flex-start;
  padding: 0.5rem;
}

.route-link {
  text-decoration: none;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */